@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(24, 196, 46, 1) 0%,
        rgba(91, 201, 118, 1) 35%,
        rgba(102, 175, 177, 1) 65%,
        rgba(23, 129, 251, 1) 100%
    );
    backdrop-filter: blur(100px);
    position: relative;
}

h1 {
    color: white;
    font-family: "Play", sans-serif;
    font-size: clamp(20px, calc(4vh), 50px);
}

button:hover {
    cursor: pointer;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.game-canvas {
    display: block;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid rgba(1, 1, 1, 0.3);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px 3px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 2px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
}

.bottom {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    border: solid 2px #333333;
    border-radius: 25px;
    margin: 10px auto;
    background-color: rgba(3, 3, 3, 0.7);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Pixelify Sans", sans-serif;
}

.start-btn p {
    text-shadow: 1px 1px 1px #ffffff5f;
    animation: text-fade 1s infinite alternate-reverse;
}

@keyframes text-fade {
    0% {
        opacity: 70%;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-width: 400px) {
    .game-canvas {
        max-width: 100%;
        max-height: 100%;
    }
}
