@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background: #222831;
    backdrop-filter: blur(100px);
    position: relative;
}

h1 {
    color: #DFF5FF;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    font-size: clamp(20px, calc(4vh), 50px);
    text-shadow: 1px 1px 1px #ffffffff;
}

button:hover {
    cursor: pointer;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
}

.game-canvas {
    display: block;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid rgba(1, 1, 1, 0.3);
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px 3px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 2px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8dvh;
}

.start-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 40px;
    padding-bottom: 2px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(3, 3, 3, 0.6);
    background-color: #31363Fdf;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Pixelify Sans", sans-serif;
}

.start-btn p {
    letter-spacing: 1px;
    color: white;
    text-shadow: 1px 1px 1px #ffffffff;
    animation: text-fade 1s infinite alternate-reverse;
}

@keyframes text-fade {
    0% {
        opacity: 70%;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-width: 400px) {
    .game-canvas {
        max-width: 100%;
        max-height: 100%;
    }
}
